@import "source:material-color.scss";

.gallery-item
    border: .05rem solid var(--md-default-fg-color--lightest)
    border-radius: .1rem
    display: block
    margin: 0
    padding: .8rem
    transition: border .25s, box-shadow .25s

.gallery-item:hover
    border-color: #0000
    box-shadow: var(--md-shadow-z2)

.gallery-box
    width: 200px
    height: 200px
    position: relative

$gallery-box-size: 200px
$gallery-box-s-size: 150px
$gallery-image-max: 198px
$gallery-image-s-max: 148px
$index-grid-size: 50px
$border-color: var(--md-default-fg-color--lightest)

.gallery-item
    border: .05rem solid $border-color
    border-radius: .1rem
    display: block
    margin: 0
    padding: .8rem
    transition: border .25s, box-shadow .25s
    &.empty
        background-color: #fafafa
    &:hover
        border-color: #0000
        box-shadow: var(--md-shadow-z2)

.gallery-box
    width: $gallery-box-size
    height: $gallery-box-size
    position: relative
.gallery-box-s
    width: $gallery-box-s-size
    height: $gallery-box-s-size
    position: relative

body img.gallery-image
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    max-width: $gallery-image-max
    max-height: $gallery-image-max
body img.gallery-image-s
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
    max-width: $gallery-image-s-max
    max-height: $gallery-image-s-max

body p.index-grid img.gallery-image
    width: $index-grid-size
    height: $index-grid-size
    object-fit: cover
body p.index-grid.gallery-box
    width: $index-grid-size
    height: $index-grid-size
    overflow: hidden

body div.native-block > pre > code
    font-family: inherit
    white-space: pre-wrap
    background: none
    padding: 0px
    font-size: .8rem
    line-height: 1.6
body div.native-block > pre
    font-family: inherit
    white-space: pre-wrap
    font-size: .8rem
    line-height: 1.6

.clear
    clear: left

body .md-typeset .grid.cards > ul > li
    padding: 0px

body .gallery-float-grid
    float: left
    margin-right: .4rem
    margin-bottom: .4rem

body div.gallery-grid.grid
    grid-template-columns: repeat(auto-fit, minmax($gallery-box-size, max-content))
body div.gallery-grid.grid.index-grid
    grid-template-columns: repeat(auto-fit, minmax($index-grid-size, max-content))
    grid-gap: 0px
    border: .05rem solid $border-color
body div.gallery-grid.grid.index-grid li
    border: none

#map
    width: 100%
    height: 500px
    z-index: 0

html
    overflow-y: scroll

.transcript
    text-align: justify
    .segment
        cursor: pointer
        time
            background-color: var(--md-primary-fg-color--light)
            color: var(--md-primary-bg-color)
            border-radius: .3rem
            padding: 0px 2px
            font-size: 60%
            vertical-align: middle
            line-height: 1
    .highlight
        background-color: var(--md-typeset-mark-color)

.audio-section audio
    width: 100%

// Compare to material color scheme:
// https://github.com/squidfunk/mkdocs-material/blob/master/src/templates/assets/stylesheets/palette/_primary.scss
// https://app.unpkg.com/material-design-color@2.3.2/files/material-color.scss

.map-simple-icon
    font-size: 20px
    text-align: center
    opacity: 0.9
    &-red
        color: $clr-red-400
    &-purple
        color: $clr-purple-500
    &-blue
        color: $clr-blue-500
    &-orange
        color: $clr-orange-400
    &-green
        color: $clr-green-500

.text
    &-purple
        color: $clr-purple-500
    &-indigo
        color: $clr-indigo-500
    &-orange
        color: $clr-orange-400
    &-green
        color: $clr-green-500

.md-nav__link .md-ellipsis
    font-family: monospace

.metadata
    font-size: 80%
    margin-top: -0.5rem
    color: $clr-grey-600
    margin-bottom: 0.5rem

.map-legend
    font-size: 80%
    color: $clr-grey-600
 
.md-grid
    max-width: 1600px

div.active-highlight
    background-color: var(--md-typeset-mark-color)

#photo_gallery p img
    visibility: hidden

#photo_gallery p.justified-gallery img
    visibility: visible