:root {
  /* Global variables */
  --readthedocs-font-size: ;

  /* Flyout menu */
  --readthedocs-flyout-background-color: ;
  --readthedocs-flyout-color: ;
  --readthedocs-flyout-current-version-color: ;
  --readthedocs-flyout-font-family: ;
  --readthedocs-flyout-font-size: ;
  --readthedocs-flyout-header-font-size: ;
  --readthedocs-flyout-item-link-color: ;
  --readthedocs-flyout-link-color: ;
  --readthedocs-flyout-section-heading-color: ;

  /* Notifications */
  --readthedocs-notification-background-color: ;
  --readthedocs-notification-color: ;
  --readthedocs-notification-font-family: ;
  --readthedocs-notification-font-size: ;
  --readthedocs-notification-link-color: ;
  --readthedocs-notification-title-background-color: ;
  --readthedocs-notification-title-color: ;
  --readthedocs-notification-toast-font-size: ;

  /* Search */
  --readthedocs-search-backdrop-color: ;
  --readthedocs-search-color: ;
  --readthedocs-search-content-background-color: ;
  --readthedocs-search-content-border-color: ;
  --readthedocs-search-filters-border-color: ;
  --readthedocs-search-font-family: ;
  --readthedocs-search-font-size: ;
  --readthedocs-search-footer-background-color: ;
  --readthedocs-search-footer-code-background-color: ;
  --readthedocs-search-footer-code-border-color: ;
  --readthedocs-search-input-background-color: ;
  --readthedocs-search-result-section-border-color: ;
  --readthedocs-search-result-section-color: ;
  --readthedocs-search-result-section-highlight-color: ;
  --readthedocs-search-result-section-subheading-color: ;
}
