[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "textfun"
version = "0.1.0"
description = "Librería educativa para jugar con texto: invertir, contar vocales, alternar mayúsculas, etc."
authors = [{name="Enrique Duque"}]
readme = "README.md"
requires-python = ">=3.8"
license = {text = "MIT"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://pypi.org/project/textfun/"
