name: Build and Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Set version
        run: |
          sed -i "s/^version = \".*\"/version = \"${GITHUB_REF_NAME#v}\"/" pyproject.toml

      - name: Build
        run: |
          rm -rf dist
          uv build --sdist --wheel --out-dir dist
          ls dist/

      - name: publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          uv publish

      - name: Add files to release
        run: |
          gh release upload "${GITHUB_REF_NAME}" dist/*.whl --repo "${{ github.repository }}" --clobber
          gh release upload "${GITHUB_REF_NAME}" dist/*.tar.gz --repo "${{ github.repository }}" --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
