// Color Palette

// Base Colors
$background: #282c34;
$background-light: #3a3f48;
$foreground: #abb2bf;
$foreground-light: #ffffff;
$foreground-dark: #5c6370;

// Accent Colors
$primary: #61afef;
$primary-light: #82c0f5;
$primary-dark: #4d8ac9;

// Other
$border: #4b5263;
