.pm .tdstageicon {
  display: block;
  /* background-image: url('/svg/icon_playfill.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 15px;
  background-color: transparent;

  /* display: inline-block; */
  top: -2px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.4s;
  transform: rotate(0deg);
}

.pm .tdstageiconcollapsed {
  transform: rotate(90deg);
}

.pm td.stagetableoffset {
  background-color: var(--jp-layout-color2, #393F4B);
}

.pm th {
  white-space: nowrap;
  font-size: var(--jp-content-font-size1);
  background-color: var(--jp-layout-color2, #1B232D);
  border: var(--jp-border-width);
}

.pm td {
  background-color: var(--jp-layout-color3, #333843);
  border: var(--jp-border-width);
  font-size: var(--jp-content-font-size1);
  border-top: var(--jp-border-width) solid var(--jp-layout-color3, #333843);
  padding: 0;
}

.pm table {
  border-radius: var(--jp-border-radius);
  width: 100%;
  color: var(--jp-ui-font-color1);

  /* border: 1px solid #CFCFCF; */

  /* height: 10px; */
  /* TODO theme change */
  border-spacing: 0;
}

.pm tbody {
  /* height: 100px; */
  overflow: auto;
}

.pm tr {
  border: var(--jp-border-width);
}

.pm td,
.pm th {
  text-align: center;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
}

.pm tr .tdstagebutton:hover ~ td,
tr .tdstagebutton:hover {
  background-color: var(--jp-layout-color3, #333843);
}

.pm th.thbutton {
  width: 4%;
}

.pm th.thjobid {
  width: 6%;
}

.pm th.thjobname {
  width: 10%;
  white-space: nowrap;
}

.pm th.thjobstatus {
  width: 12%;
}

.pm th.thjobtages {
  width: 10%;
}

.pm th.thjobtasks {
  width: 28%;
}

.pm th.thjobstart {
  width: 20%;
}

.pm th.thjobtime {
  width: 10%;
}

.pm th.thstageid {
  width: 8%;
}

.pm th.thstagename {
  width: 10%;
  white-space: nowrap;
}

.pm th.thstagestatus {
  width: 17%;
}

.pm th.thstagetasks {
  width: 33%;
}

.pm th.thstagestart {
  width: 20%;
}

.pm th.thstageduration {
  width: 12%;
}

progress {
  padding: 2px;
}

.pm .tdstatus {
  padding: 2px;
}

.pm .running {
  background-color: var(--jp-info-color2, #2EB6FF);
}

.pm .failed {
  background-color: var(--jp-error-color2, #FF5757);
}

.pm .completed {
  background-color: var(--jp-success-color2, #47FFB0);
}

/* TODO theme change */
.pm .pending {
  background-color: #8e24aa; 
}

.pm .skipped {
  background-color: var(--md-grey-600, #757575);
}

.pm .completed,
.pm .failed,
.pm .running,
.pm .pending,
.pm .skipped {
  font-size: var(--jp-content-font-size0);
  color: var(--jp-ui-inverse-font-color0, rgba(0, 0, 0, 1));
  border-radius: var(--jp-border-radius);
}

.pm .tdstagestatus > span,
.pm .tdjobstatus > span {
  padding: 4px 8px;
}

.pm .stagetable tr th {
  background: var(--jp-layout-color2, #393F4B);
}

.pm .cssprogress {
  display: block;
  background: var(--jp-content-font-color1, #FFFFFF);
  width: 100%;
  height: 20px;
  padding: 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  font-size: 75%;
  border-radius: var(--jp-border-radius);
  color: black;
}

.pm .cssprogress .val1 {
  width: 0%;
  background: var(--jp-success-color2, #00E500);
}

.pm .cssprogress .data {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 4;
  line-height: 20px;
}

.pm .cssprogress .val2 {
  background: var(--jp-info-color2, #2EB6FF);
  width: 0%;
}

.pm .cssprogress span {
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: width 1s;
}
