.pm .timelinewrapper {
  max-height: 400px;
  overflow-y: auto;
  clear: both;
}

.pm .vis-labelset .vis-label .vis-inner {
  width: 100px;
  color: var(--jp-ui-font-color1);
}

.pm .vis-background {
  background-color: var(--jp-layout-color2, #1B232D);
}

.pm .vis-item {
  border-radius: var(--jp-border-radius);
  font-size: var(--jp-content-font-size0);
  background-color: var(--jp-layout-color3, #333843);
  border-color: var(--jp-layout-color4, #757575);
  color: var(--jp-ui-font-color1);
}

.pm .vis-item .vis-item-content {
  padding: 0;
  width: 100%;
}

.pm .vis-time-axis {
  font-size: var(--jp-content-font-size0);
}

.pm .vis-time-axis .vis-text {
  color: var(--jp-ui-font-color1);
}

.pm .vis-tooltip {
  color: var(--jp-content-font-color1, #FFFFFF);
  background-color: var(--jp-layout-color0, #1B232D);
}

.pm .vis-item.vis-background {
  background-color: var(--jp-border-color3, rgba(255, 255, 255, 0.2));
}

.pm .vis-custom-time {
  pointer-events: none;
  background-color: var(--jp-info-color4, #42B4FF);
}

.pm .vis-item.itemfinished {
  /* :not(.vis-selected) { */
  background-color: var(--jp-success-color3, #62FF57);
  border-color: var(--jp-success-color4, #00E500);
  border: var(--jp-border-width);
}

.pm .vis-item.itemfailed {
  /* :not(.vis-selected) {  */
  background-color: var(--jp-error-color4, #FF6161);
  border-color: var(--jp-error-color4, #FF6161);
  color: var(--jp-content-font-color1, #FFFFFF);
  border: var(--jp-border-width);
}

.pm .vis-item.itemfinished:active {
  background-color: var(--jp-success-color4, #00E500);
}

.pm .vis-selected {
  border-color: var(--jp-warn-color0, #FEEB3E);
  background-color: var(--jp-warn-color0, #FEEB3E);
  border: var(--jp-border-width);
}

.pm .vis-item.itemrunning {
  /* :not(.vis-selected) { */
  background-color: var(--jp-info-color4, #42B4FF);
  border: var(--jp-border-width);
}

.pm .taskbarsvg {
  width: 100%;
  height: 20px;
  vertical-align: top;
}

.pm .hidephases .taskbarsvg rect {
  stroke: none;
  fill: none;
}

.pm .hidephases .taskbarsvg {
  display: none;
}

.pm .hidephases .taskbardiv::before {
  content: attr(data-taskid);
  padding: 0 2px;
  text-align: center;
  width: 100%;
}

/* TODO theme change */
.pm .showphases .taskbarsvg rect.scheduler-delay-proportion {
  fill: #80b1d3;
  stroke: #6b94b0;
}

.pm .showphases .taskbarsvg rect.deserialization-time-proportion {
  fill: #fb8072;
  stroke: #d26b5f;
}

.pm .showphases .taskbarsvg rect.shuffle-read-time-proportion {
  fill: #fdb462;
  stroke: #d39651;
}

.pm .showphases .taskbarsvg rect.executor-runtime-proportion {
  fill: #b3de69;
  stroke: #95b957;
}

.pm .showphases .taskbarsvg rect.shuffle-write-time-proportion {
  fill: #ffed6f;
  stroke: #d5c65c;
}

.pm .showphases .taskbarsvg rect.serialization-time-proportion {
  fill: #bc80bd;
  stroke: #9d6b9e;
}

.pm .showphases .taskbarsvg rect.getting-result-time-proportion {
  fill: #8dd3c7;
  stroke: #75b0a6;
}

.pm .taskbardiv {
  width: 100%;
  height: 100%;
}

.pm .timelinetoolbar {
  padding: 0 8px;
  color: var(--jp-border-color0, #72747E);
  font-size: var(--jp-content-font-size0);
}

.pm .timecheckboxspan {
  margin: 0 5px;
  float: right;
}
