.flyout-context-area {
    position: relative !important;
    overflow: visible !important;
}

.flyout-sheet {
    position: fixed !important;
    flex-grow: 0 !important;
    min-width: unset !important;
    width: 350px !important;
    align-self: center !important;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /*border: 1px solid #E5E7EB;*/
    border-radius: var(--radius-lg);
    background: var(--panel-background-fill, white);
    padding: var(--spacing-lg) !important;
}
.flyout-sheet .propertysheet-wrapper .content-wrapper .container {
    overflow: visible !important;
}
.fake-input-container {
    border: var(--input-border-width) solid var(--border-color-primary);
    border-radius: var(--input-radius);
    background: var(--block-background-fill) !important;
    padding: 0 !important;
    align-items: stretch !important;
    box-shadow: var(--input-shadow);
    transition: box-shadow 0.2s, border-color 0.2s;
    gap: 0 !important;
}

.fake-input-container:focus-within {
    box-shadow: var(--input-shadow-focus);
    border-color: var(--input-border-color-focus);
}

.no-border-dropdown .form {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.integrated-ear-btn {
    align-self: center;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: var(--body-text-color-subdued) !important;
    font-size: 1.1em;
    min-width: 28px !important;
    width: 28px !important;
    height: 100% !important;
    padding: 20px var(--spacing-sm) 0 0 !important;
    transition: color 0.2s ease-in-out;
    flex-grow: 0 !important;
}

.integrated-ear-btn:hover {
    color: var(--body-text-color) !important;
}

.flyout-close-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    min-width: 24px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    font-size: 1.2em !important;
    line-height: 1;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: var(--body-text-color-subdued) !important;
    z-index: 1000;
}

.flyout-close-btn button:hover {
    color: var(--body-text-color) !important;
}

.flyout-source-hidden {
    display: none !important;
}