a{
    text-decoration: none;
    color: inherit;
}

.btn{
    margin: 10px 0;
    padding: 0;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
}

.content-richtext a {
    display: inline-flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #007D7A;
    gap: 8px;
    width: auto;
    text-decoration: none;
    border-radius: 32px;
    font-weight: 900;
}

.small{
    height: 32px !important;
    border-radius: 32px;
}

.medium{
    height: 40px !important;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
}

.large{
    height: 48px !important;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 600;
}

.extra-large{
    height: 60px !important;
    border-radius: 32px;
    font-size: 20px;
    font-weight: 600;
}

.small:disabled, .medium:disabled, .large:disabled, .extra-large:disabled{
    background-color: #C8D1E0;
}

.primary{
    padding: 0 16px;
    background-color: #007D7A;
    border: none;
    color: white;
    gap: 8px;
    width: auto;
    text-decoration: none;
    border-radius: 32px;
}

.primary:hover{
    background-color: #006969;
    color: white;
}

.btn .primary:hover{
    background-color: #006969;
    color: white;
}

.btn:active{
    color: #025257;
}

.primary:active{
    background-color: #025257;
    color: white;
}

.btn.primary.extra-large {
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-buttons{
    margin: 0;
}

.secondary{
    padding: 12px 16px;
    border: 1px solid #007D7A;
    background: white;
    color: #007D7A; 
}

.secondary:hover {
    background-color: #006969;
    color: white;
}

.secondary:active {
    background-color: #025257;
    color: white;;
}

.terciary{
    border: none;
    background: transparent;
    color: #007D7A;
    padding: 0;
}

.terciary:hover {
    background-color: #006969;
    color: white;
    cursor: pointer;
  }

.terciary:active {
    color: #025257;
    background-color: transparent;
}